{
    "extends": "airbnb-base",
    "env": {
      "node": true
    },
    "rules": {
      "no-console": "off",
      "jsx-a11y/label-has-for": [ 2, {
        "components": [ "Label" ],
        "required": {
            "some": [ "nesting", "id" ]
        },
        "allowChildren": false
    }]
    }
  }